*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100svh;
    max-width: 100%;
}
.main-info{
    background-image: url(./Background-CrhoXMm2.png);
    height: 90svh;
    background-size: cover;
    background-position: center;
    
}
